body {
    height: 480px;
    width: 480px;
    display: flex;
    flex-direction: column;
}

.display {
    background-color: purple;
    width: 100px;
    padding: 8px;
    margin: 8px 0px;
    text-align: center;
}

.container {
    flex:1;
    justify-content: space-between;
}

.line {
    display: flex;
    justify-content: space-between;
    align-items: space-between;
}

button {
    width: 30px;
    height: 20px;
    text-align: center;
}